* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

form {
    width: 30rem;
    margin: 20rem auto;
    text-align: center;
}

input {
    display: block;
    margin: 1rem auto;
    width: 25rem;
    height: 3rem;
}